<div class="como-funciona">
  <h1>¿Cómo funciona?</h1>
  <section class="intro">
    <p>
      Bienvenidos a Local-Leisure! Aquí te mostramos cómo puedes comenzar a usar
      nuestro sitio web en unos simples pasos :)
    </p>
  </section>

  <section class="pasos">
    <div class="paso">
      <h2>Paso 1: Regístrate</h2>
      <p>Crea tu cuenta fácilmente usando tu correo electrónico.</p>
      <p>Selecciona si quieres ser anfitrion o invitado.</p>
      <p>
        Los <strong>invitados</strong> son aquellos usuarios que desean viajar y
        conocer el destino de la mano de locales (anfitriones) que brindan sus
        experiencias para conocer el sitio desde la perspectiva local y con
        opciones originales que te permitiran conocer sitios de una manera unica
      </p>
      <p>
        Los <strong>anfitriones</strong> son aquellos usuarios como tu, que
        quieren brindar experiencias a otros usuarios desde sus propios
        conocimientos sobre el sitio donde viven e incluso en sus propias casas,
        tu decides la experiencia! Una vez cargues la experiencia, podras
        venderla. La seccion de anfitrion es muy facil y te guiará al hacerlo.
      </p>
    </div>
    <div class="paso">
      <h2>Paso 2: Navega en tu perfil</h2>
      <p>
        Si eres <strong>invitado</strong>podrás explorar las experiencias,
        añadirlas a tu carrito y realizar la reserva segun las fechas
        disponibles, la pagina es muy intuitiva y te guiara en ese proceso
      </p>
      <p>
        Si eres <strong>anfitrion</strong>podrás crear nuevas experiencias asi
        como editarlas o eliminarlas, ver tus valoraciones por parte de los
        invitados y verificar los cobros recibidos, teniendo un recuento de tus
        reservas acumuladas
      </p>
    </div>
    <div class="paso">
      <h2>Paso 2: Explora</h2>
      <p>Navega por nuestras categorías y encuentra lo que buscas.</p>
    </div>
    <div class="paso">
      <h2>Paso 3: Disfruta</h2>
      <p>
        Si eres <strong>invitado</strong> una vez hayas elegido tu experiencia y
        realizado tu reserva, solo te queda disfrutar! recibiras un correo de
        confirmacion para recordar el dia y hora de tu reserva, asi como un
        justificante de pago
      </p>
      <p>
        Si eres <strong>anfitrion</strong> una vez hayas publicado tus
        experiencias y veas que tienes reservas activas, solo te quedará
        disfritar del proceso respondiendo a las consultas de tu invitado,
        preparandole su experiencia y preparandote tú para recibirlo y hacerle
        pasa un momento muy grato :)
      </p>
    </div>
  </section>

  <section class="caracteristicas">
    <h2>Características Principales</h2>
    <ul>
      <li>Experiencias orginales con locales de todo el mundo</li>
      <li>Sistema de reservas facil e intuitivo</li>
      <li>Valoraciones disponibles para asegurarte una experiencia unica</li>
    </ul>
  </section>

  <section class="preguntas">
    <h2>Preguntas Frecuentes</h2>
    <div class="pregunta">
      <h3>¿Es este servicio gratuito?</h3>
      <p>
        El servicio de registro es gratuito tanto para anfitrion como para
        invitado. Una vez esten ambos registrados, el invitado pagara su
        experiencia segun el precio de la misma y el anfitrion pagara su
        comision de utilizacion de la pagina, que se descontara del valor de la
        experiencia (podrá ver ese detalle en su perfil de anfitrion)
      </p>
    </div>
    <div class="pregunta">
      <h3>¿Puedo modificar o cancelar mi reserva?</h3>
      <p>
        Si, poniendote en contacto con nosotros a través del
        <a [routerLink]="'/contacto'">formulario de contacto</a>.
      </p>
    </div>
  </section>
</div>
