<div class="reserva-container">
  <div *ngFor="let reserva of reservaList" class="reserva-card">
    <div class="reserva-details">
      <h2 class="reserva-experiencia">{{ reserva.experiencia }}</h2>
      <p class="reserva-usuario">{{ reserva.usuario }}</p>
      <p class="reserva-fecha">{{ reserva.fecha }}</p>
      <p class="reserva-estado">{{ reserva.estado }}</p>
      <div class="card-footer">
        <p class="comentario">{{ reserva.comentario }}</p>
        <div class="duracion">
          <p>Cantidad de personas: {{ reserva.personas }}</p>
        </div>
      </div>
      <div>
        <button [routerLink]="['/myreservas', reserva.id]">Ver reserva</button>
      </div>
    </div>
  </div>
</div>
