<div class="reserva-container">
  <div *ngFor="let reserva of reservaList" class="reserva-card">
    <div class="reserva-details">
      <h2 class="reserva-experiencia">
        Experiencia: {{ reserva.experiencia.nombre }}
      </h2>
      <p class="reserva-usuario">Usuario: {{ reserva.usuario.nombre }}</p>
      <p class="reserva-fecha">Fecha: {{ reserva.fecha }}</p>
      <p class="reserva-estado">Estado: {{ reserva.estado }}</p>
      <div class="card-footer">
        <p class="comentario">Comentario: {{ reserva.comentario }}</p>
        <div class="duracion">
          <p>Cantidad de personas: {{ reserva.personas }}</p>
        </div>
      </div>
      <div>
        <button [routerLink]="['/myreservas', reserva.id]">Ver reserva</button>
      </div>
    </div>
  </div>
</div>
