<div class="login-container">
  <h2>Iniciar sesión</h2>
  <form [formGroup]="loginForm" (submit)="handleLoginForm()">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required />
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        required
      />
    </div>

    <button type="submit">Acceder a mi sesión</button>
    <p class="no-logueado">
      Si aún no estás registrado,
      <a [routerLink]="'/registro'">haz click aquí</a>
    </p>
  </form>
</div>
