<div class="experiencia-container">

<div *ngFor="let experiencia of experienciaList" class="experiencia-card">
  <img
    [src]="experiencia.imagenes"
    [alt]="experiencia.titulo"
    class="experiencia-imagen"
  />
  <div class="experiencia-details">
    <h2 class="experiencia-titulo">{{ experiencia.titulo }}</h2>
    <p class="experiencia-ubicacion">{{ experiencia.ubicacion }}</p>
    <p class="experiencia-description">{{ experiencia.descripcion }}</p>
    <div class="card-footer">
      <p class="precio">{{ experiencia.precio }}</p>
      <div class="duracion">
        <p>Duracion: {{ experiencia.duracion }}</p>
      </div>
    </div>
    <div>
      <button [routerLink]="'/experiencias/' + experiencia._id">Ver más</button>
    </div>
  </div>
</div>
</div>
