.filtro-container {
  background-color: #71c5b7; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.filtro-container label,
.filtro-container input[type="text"],
.filtro-container input[type="number"],
.filtro-container select,
.filtro-container button {
  margin-right: 10px;
}

.filtro-container label {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.filtro-container input[type="text"],
.filtro-container input[type="number"],
.filtro-container select {
  flex: 1;
}

.filtro-container button {
  padding: 10px 20px;
  background-color: #2faf9a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.filtro-container button:hover {
  background-color: #2faf9a;

}
