<div class="header-container">
  <div class="logo">
    <img src="assets/imagenes/LOGO.png" alt="Logo" class="logo-img" />
  </div>
  <div class="menu">
    <a routerLink="/">Home</a>
    <a routerLink="/comofunciona">¿Cómo funciona?</a>
    <a routerLink="/experiencias">Experiencias</a>
    <a routerLink="/contacto">Contacto</a>
  </div>
  <div class="auth-links">
    <a *ngIf="!authService.isAuthenticate()" routerLink="/registro"
      >Registrarme</a
    >
    <a *ngIf="!authService.isAuthenticate()" routerLink="/login"
      >Iniciar sesión</a
    >
    <a *ngIf="authService.isAuthenticate()" routerLink="/myreservas"
      >Mis Reservas</a
    >
    <a
      *ngIf="
        authService.isAuthenticate() &&
        authService.getUserRole() === 'anfitrión'
      "
      routerLink="/myexperiencias"
      >Mis Experiencias</a
    >
    <a *ngIf="authService.isAuthenticate()" (click)="logout()">Cerrar sesión</a>
  </div>
</div>
